# ignore all files
**.xtc
**.h5
/Users/thor/surfdrive/Projects/pymdna/src/pymdna/studies/1_protein-dna_filament/FilamentsDNA/tests/data/*
/src/pymdna/studies/1_protein-dna_filament/FilamentsDNA/tests/data/*
/src/pymdna/studies/
src/pymdna/studies/
# /examples/
.gitignore
.vscode/
__pycache__/