# ignore all files
.DS_Store
**.xtc
**/__pycache__
**/build/
**.vscode
**/*.egg-info
**/dist/
**/.venv/
examples/data/filament_dataset/
examples/data/filament_dataset*.zip
examples/data/filament_dataset*.tar
examples/data/filament_dataset*.tar.gz