# Include all Python source files
recursive-include mdna *.py

# Include any additional files or directories
include README.md
include LICENSE.txt
recursive-include data *

include ./atomic

prune examples/data/filament_dataset
exclude examples/data/filament_dataset*.zip
exclude examples/data/filament_dataset*.tar
exclude examples/data/filament_dataset*.tar.gz
